.list-view .list-cell {
    -fx-background-color: transparent;
    -fx-font-size: 14;
    -fx-text-fill: rgb(34, 21,108);
}

.list-view {
    -fx-background-color: #cfcbcb;
    -fx-background-radius: 15;
    -fx-border-color: rgb(34, 21, 108);
    -fx-border-radius: 15;
    -fx-border-width: 3;
}

.lessonitem {
    -fx-background-color:  #cfcbcb;
}

.lessonitem:hover{
    -fx-background-color: #aaa0a0;
}

